/*start variable*/
:root{
  
    --main-color:#73B21A;
    --second-color:#2B5228;
    --third-color:#FFC500;
    --title-color: #393939;
    --background-color:#30313e;
    --background-color-2:#30313e;
    --background-card:#1B1E27;
    --background-card-2:#181818;
    --background-icon:#393939;
    --text-color: #444;
    --text-color-light: #A6A6A6;
    --white-color: #FBFEFD;
    --container-color: #FFFFFF;
    --light-color:#fbfefd;
    --glass-bg-color:hsla(0,0%,100%,0.25);
    --background-border:rgba(0,0,0,0.7);
 
   }

/*end variable */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
} 
body{
    font-family: "open sans", sans-serif;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
ul,
li{
    list-style:none;
}
.container{
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
}
/*small screen*/
@media (min-width:768px){
    .container{
        width:750px;
    }
}
/*medium screen*/
@media (min-width:992px){
    .container{
        width:970px;
    }
}
/*large screen*/
@media (min-width:1100px){
    .container{
        width:1170px;
        margin: 0 auto;
    }
}

#preloader{
    background:#171C1D url(../assets/icons/preload.gif) no-repeat center center ;
    background-size: 40%;
    height:100vh;
    width: 100%;
    position: fixed;
    z-index: 10000;
}

@media only screen and (max-width:538px){
    #preloader{
        background-size: 80%;
    }
}

iframe{
    display: none;
}

/**************start navbar***************/
.home{
    background-image: url(../assets/bg/2017-02-021-1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    
}
.home .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.home  .navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 120px;    
}
.nav.on{
    position: fixed;
    background: rgba(17,44,125,.1098039216);
    width: 100%;
    z-index: 9999;
    transition: all 0.4s ease-in-out;
    backdrop-filter: blur(14px);
}
.home  .navbar .logo{
    
}

.home  .navbar .logo a div{
  width: 20%;   
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.home  .navbar .logo a  div img{
    width: 100%;
}

.home  .navbar .logo  img{
width: 100px;
}
.home  .navbar .logo a  {
    display: flex;
    flex-direction: row;
    width:auto;
}


.home  .navbar .logo a h1 span{
   color: white;
}
.home  .navbar .logo h1 {
    font-size:1.8rem;
    color: var(--main-color);
    line-height: 66px;
} 
.home .navbar ul {
    padding-top:16px;
}
.home  .navbar ul li{
    display: inline;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 18px;
    text-transform: capitalize;
    transition: 0.3s linear;
  
}
.home  .navbar ul .light{
   padding: 7px 10px;
   display: none;
    background: var(--main-color);
    border-radius: 6px;
}
.home  .navbar ul .light i{
    color: var(--light-color);
}
.home  .navbar ul .light:hover{
      cursor: pointer;
}

.home  .navbar ul li a{
    color: var(--white-color);

}
.home  .navbar ul li a:hover{
    cursor: pointer;
    color: var(--main-color);
}
.home  .navbar ul li a.contact{
    display:inline-block;
  
    border: 1px solid var(--main-color);
    padding: 13px 20px;
    border-radius: 7px;
    color: #fff;
    z-index: 0;
    position: relative;
    overflow: hidden;
    text-align: center;
    transform: translateY(18px);
}
.home  .navbar ul li a.contact::before{
    content: '';
    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    background:var(--main-color);
    height:85%;
    width: 95%;
    z-index: -1;
    transition: .2s linear;
}
.home  .navbar ul li a.contact:hover:before{
    top:100%;
    transform: translate(-50%, 100%);
}
.navbar .toggle{
    line-height: 80px;
    position: relative;
    width: 48px;
    height: 45px;
    margin-top: 20px;
    background-color: var(--text-color);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   display: none;
}
.navbar .toggle:hover{
    cursor: pointer;
    z-index: 999;
}
.navbar .toggle span{
    position:absolute;
    width:30px;
    height: 4px;
    background: var(--light-color);
    border-radius: 4px;
    transition: 0.4s;
}
.navbar .toggle span:nth-child(1){
    transform: translateY(-10px);
    width: 20px;
    left:8px;
}
.navbar .toggle span:nth-child(3){
    transform: translateY(10px);
    width: 15px;
    left:8px;
}
.toggle:hover span:nth-child(2),
.toggle.active span:nth-child(2){
    transform: translateX(60px);
}
.toggle.active span:nth-child(1){
    width:35px ;
    transform: translateY(0px) rotate(45deg);
}
.toggle.active span:nth-child(3){
    width:35px ;
    transform: translateY(0px) rotate(315deg);
}

@media (max-width:992px) {
   
    .navbar .toggle{
        display: flex;
        justify-content: center;
        align-items: center;


    }
    .navbar .nav-list ul.visibal{
        width: 100% ;
        right: 0;
        margin-top: -80px; 
        z-index: 995;
        height: 100vh;

    }
    .home  .navbar ul{
        margin-right:0;
        line-height: 30px;
    }
    .navbar .nav-list ul{
            background:var(--background-card);
        position: absolute;
        top: 80px;
        right: -100px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 0%;
        height: calc(100vh - 80px);
        transition: width 0.7s ease-in-out;
       z-index: 1000;
        
    }
    .navbar .nav-list ul a{
        margin: 10px 0;
    }
    .home .navbar ul li{
        display: inline;
        margin-left: 7px;
        margin-right: 7px;
        font-size: 18px;
        text-transform: capitalize;
        transition: 0.3s linear;
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 25px;
    }
   
    }
   

.hom-content{
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;
    padding: 0 0;
}
.hom-content .left{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(12px);
    padding: 0 25px;
    border-radius: 30px;
    height: 65vh;
    margin-top: 30px;
}
.hom-content .left p{
    font-size: 22px;
    margin-bottom: 18px;
}
.hom-content .left h2{
    text-transform: capitalize;
    font-size: 50px;
    color: var(--main-color);
    padding-bottom: 10px;
    font-size: 40px;
}
.hom-content .left h2 span{
    color: var(--main-color);
}
.hom-content .left  .hi{
    color: var(--container-color);
    text-transform: capitalize;
    font-size: 25px;
    margin-bottom: 7px;

}
.hom-content .left button{
    margin-top: 10px;
}

.btn-cv{
    display: inline-block;
    background: transparent;
    color: var(--main-color);
    position: relative;
    overflow: hidden;
    text-align: center;
    line-height: 30px;
    padding: 5px 5px;
    border: 1px solid var(--container-color);
    border-radius: 7px;
    z-index: 0;
    width: 140px;
    height: 40px;
}
.btn-cv::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    background: var(--container-color);
    height: 95%;
    width: 97%;
    z-index: -1;
    color: var(--light-color);
    transition: .2s linear;
}
    

.btn-cv:hover:before{
    top:100%;
    transform: translate(-50%, 100%);
}


    .hom-content  .icon {
        display: flex;
        margin-top: 30px;
    
    }
    .hom-content .icon div{
        width: 30px ;
        height: 30px;
        background: var(--main-color);
        margin-right: 12px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        transition: transform 0.5s ;
    }
    .hom-content  .icon div a i{
        font-size: 15px;
        color: var(--light-color);
        z-index: 1000;
    }
    .hom-content  .icon div a i:hover{
        color:white;
    }
    .hom-content  .icon div:hover{
        transform: rotate(360deg) scale(1.2);
        cursor: pointer;
        background: var(--background-icon);
        
    }

.hom-content .right{
    flex: 50%;
  
}
.hom-content .right  .box-contant{
    width: 80%;
    position: relative;

}
.hom-content .images {

 width: 100%;
 height: 80vh;
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
 margin-bottom: 30px;
  margin-top: 75px;
  background: white;
  border-radius: 32px;
}

.hom-content .images .img{

}


@media (max-width:992px) and (min-width:768px){
  
    .hom-content{
        display: flex;
        flex-wrap: wrap;
        height: auto;
     
    }
    .hom-content .left{
        flex: 50%;
        display: flex;
        flex-direction: column;
            justify-content: center;
    
      }
      .hom-content .left > .hi{
        font-size: 18px;
      }
      .hom-content .left h2{
        font-size: 34px;
        }
    .hom-content .left p{
        font-size: 30px;
    }
  
    .hom-content .left .btn{
        width: 151px;
        height: 35px;
        font-size: 21px;
    }
    
    .hom-content .images img {
        border-radius: 100%;
        width: 90%;
        border: 5px solid var(--main-color);

 
}
.hom-content .icon div {
    
    width: 35px;
    height: 35px;
    background: var(--main-color);
    font-size: 20px;
    margin-right: 12px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: transform 0.5s;

}
.hom-content .icon div a i {
    font-size: 25px;
}
.hom-content .images .me {
    border-radius: 50%;
    width: 100%;
    border: 10px solid var(--title-color);
}
.hom-content .images .incon3 {
    top: 65%;}
.hom-content .images .incon1 {
    left: calc(9% - 28px);
    top: 35%;
    
}
.hom-content .images .incon2 {
    left: calc(88% - 25px);
    top: 35%;

}
.hom-content .images .incon1,
.hom-content .images .incon2,
.hom-content .images .incon3{
    border:none
}


}
.hom-content .left .hi {
    color:var(--container-color)
}

.hom-content .left .animate{
    color:var(--main-color);
  
}

@media (max-width:767px) and (min-width:540px){
    .hom-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 0;
        padding-top: 0;
     
    }
    .hom-content .left{
        flex: 100%;
        display: flex;
        flex-direction: column;
            justify-content: center;
            text-align: center;
        margin: 0;
        padding:0;
        margin-top: 20px;
      }
      .hom-content .icon {
        display: flex;
        margin-top: 30px;
        justify-content: center;
    }
    .hom-content .left .hi{
        font-size: 20px;      }
      .hom-content .left h2{
        font-size: 35px;
            }
    .hom-content .left p{
        font-size: 25px;    }
    .hom-content .left .btn{
        width: 186px;
    height: 45px;
    font-size: 22px;
    }
    .hom-content .images img {
        border-radius: 100%;
        width: 70%;
        border: 5px solid var(--main-color);

 
}
.hom-content .images {
    height: 50vh;
    transform: translate(12%, -27%);

}
.hom-content .icon div {
    width: 45px;
    height: 45px;
}
.hom-content  .icon div a i{

    font-size: 30px;
} 

.hom-content .images .incon1 ,
.hom-content .images .incon2 ,
.hom-content .images .incon3 {
    border: none;
}

}
@media only screen and (max-width:538px){
    .hom-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 0;
     
    }
    .hom-content .left{
        flex: 100%;
        display: flex;
        flex-direction: column;
            justify-content: center;
            text-align: center;
        margin: 0;
        padding:0;
        margin-top: -10px;
      }
      .hom-content .left .hi{
        color: var(--main-color);
         text-transform: capitalize;

         font-size: 20px;
         margin-bottom: 7px;
         padding-top: 10px;
     }
     .hom-content .icon div {
        width: 40px;
        height: 40px;
        background: var(--main-color);
        margin-right: 12px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        transition: transform 0.5s;
    }
    .hom-content  .icon div a i{
        font-size: 25px;
       
    }
    
      
     .hom-content  .icon {
        display: flex;
        margin-top: 30px;
        justify-content: center;
        margin-bottom: 30px;
     }
       
         .hom-content .left h2{
            text-transform: capitalize;
            font-size:30px;
            color: var(--white-color);
            padding-bottom: 10px;
         }
         .hom-content .left h2 span{
             color: var(--main-color);
         }
         .hom-content .left p{
            color: var(--white-color);
            text-transform: capitalize;
            font-size: 22px;
            margin-bottom: 3px;
         
         }
         .hom-content .left button{
            width: 163px;
            height: 45px;
            font-size: 21px;            
         }

           .hom-content .right{
             flex: 100%;
             margin: 0;
             padding:0;
             display: flex;
    justify-content: center;
           
         }
      
    .hom-content .images {
        min-width: 100%;
        height: 100%;
           margin-top:0px;

       }
       .hom-content .images .me{
        width:100%;
        margin: 0 auto;
        border-radius: 50%;
       }
       
      .main-info.container{
        margin: 0;
        padding: 0;

      }
      .hom-content .images .incon1 {
        left: calc(4% - 28px);
        top: 20%;
        width: 60px;
        animation: animate1 3s infinite;
    }
    .hom-content .images .incon2 {
        left: calc(95% - 25px);
        top: 25%;
        animation: animate3 3s infinite;
        width: 60px;
    }
      .hom-content .images .incon3 {
        left: calc(50% - 27px);
        top: 83%;
        animation: animate2 3s infinite;
    }
    
    }

/**************end navbar***************/

/***********start login page ***************/
.sign-page{
    background-image: url(../assets/bg/greenhouse-1.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.sign-page .overlay{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
}
.login-content{
    width: 30%;
    margin:0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-content form{
    width: 80%;
    margin: auto;
    height: 430px;
    border-radius: 20px;
    background-color: rgba(255, 255, 2555, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(14px);

}
.login-content form input{
    height: 40px;
    margin-bottom: 21px;
    width: 90%;
    border-radius: 8px;
    padding-left: 17px;
    font-size: 16px;
    border: none;
    background: rgba(255,255,255,0.8);
}
.login-content form input:focus{
    outline: none;
}
.login-content form a.one{

    width: 164px;
    background: var(--main-color);
    text-align: center;
    padding: 13px;
    color: white;
    border-radius: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 15px;
}
.login-content form a.two{
    width: 164px;
    background: var(--third-color);
    text-align: center;
    padding: 13px;
    color: white;
    border-radius: 10px;
    border-bottom: 2px solid var(--main-color);
}
/***********end login page ***************/